* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    /* background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    background: #a18cd1;

    min-height: 100vh;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
form {
    border: 2px solid black;
    border-radius: 15px;
    background: #fbc2eb;

    min-height: 10rem;
    min-width: 40%;

    & h1 {}

    & div {

        & input [type="text"] {}

        & ul {

            & li {
                list-style-type: none;
            }
        }

    }
}